In [1]:
# List oh high schools
high_schools = ["Hernandez High Shcool", "Figueroa High School", "Wilson High School', Wright High School"]

In [5]:
for school in high_schools:
    print(school)

Hernandez High Shcool
Figueroa High School
Wilson High School', Wright High School

In [9]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},{"High School": "Figueroa", "Type": "District"}, {"High School": "Wilson", "Type": "Charter"}, {"High School": "Wright", "Type": "Charter"}]
print(high_school_types)

[{'High School': 'Griffin', 'Type': 'District'}, {'High School': 'Figueroa', 'Type': 'District'}, {'High School': 'Wilson', 'Type': 'Charter'}, {'High School': 'Wright', 'Type': 'Charter'}]

In [11]:
# List oh high schools
high_schools = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School", "Wilson High School"]
print(high_schools)

['Huang High School', 'Figueroa High School', 'Shelton High School', 'Hernandez High School', 'Griffin High School', 'Wilson High School']

In [13]:
# Add the pandas dependency
import pandas as pd

In [14]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0        Huang High School
1     Figueroa High School
2      Shelton High School
3    Hernandez High School
4      Griffin High School
5       Wilson High School
dtype: object

In [15]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},

                     {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [37]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [27]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [52]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [54]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
# schools_df["school_name"] = school_name
# schools_df["type"] = type_of_school

# Print the DataFrame.
schools_df

          0  School ID            school_name      type
0  District          0      Huang High School  District
1  District          1   Figueroa High School  District
2   Charter          2    Shelton High School   Charter
3  District          3  Hernandez High School  District
4   Charter          4    Griffin High School   Charter

In [55]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [57]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [59]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [60]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [61]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [62]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter